---
import SocialNetworkBtn from "./SocialNetworkBtn.astro";
import XLogo from "../assets/social-networks/XLogo.svg";
import instagram from "../assets/social-networks/InstagramLogo.svg";
import youtube from "../assets/social-networks/YoutubeLogo.svg";
import facebook from "../assets/social-networks/FacebookLogo.svg";
import tiktok from "../assets/social-networks/TikTokLogo.svg";
---

<style>
  .social-network-menu {
    transform: translateX(-100px);
    animation: translateAndFadeLeft 0.4s ease-in-out forwards 1s;
  }
 
</style>

<div class="social-network-menu flex flex-col gap-y-4 items-center justify-end mb-8 mx-4">
  <SocialNetworkBtn href="https://x.com/afa" icon={XLogo.src} label="X" />
  <SocialNetworkBtn
    href="https://www.youtube.com/@AFAOFICIAL"
    icon={instagram.src}
    label="Instagram"
  />
  <SocialNetworkBtn
    href="https://www.youtube.com/@AFAOficial"
    icon={youtube.src}
    label="Youtube"
  />
  <SocialNetworkBtn
    href="https://www.facebook.com/AFAOFICIAL/"
    icon={facebook.src}
    label="Facebook"
  />
  <SocialNetworkBtn
    href="https://www.tiktok.com/@afaseleccion"
    icon={tiktok.src}
    label="TikTok"
  />
</div>
